[submodule "themes/bulma"]
	path = themes/bulma
	url = https://github.com/jgthms/bulma.git
[submodule "themes/hugo-fresh"]
	path = themes/hugo-fresh
	url = https://github.com/lextudio/hugo-fresh.git
	